@font-face {
    font-family: "Nokia CellPhone"; /* Choose a descriptive name for your font */
    src: url("./fonts/nokiafc22.ttf") format("truetype"); /* Path to your .ttf file */
}

:root {
    --primary-font: "Nokia CellPhone";
}

body{
    /* background-size: 100%; */
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(33, 37, 37);
    margin: 0px;
}

p{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin-top: 175px;
    width: 470px;
    max-height: 500px;
    aspect-ratio: 1 / .80; 
    border: solid rgba(38, 58, 41, 0.73) 5px;
    filter: blur(.9px);
    border-radius: 10px;
    background-color: rgba(135, 185, 130, 0);
    gap: 0px;
    border-collapse: collapse;
}

h1{
    font-family: var(--primary-font);
}

td{
    width: 10px;
    height: 10px;
    transition: background-color 120ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    /* background-color: rgba(14, 35, 18, 0.511);s */
    /* border-radius: 3px; */
    padding: 0px;
}

.contenedor-escenario{
    background-image: url('./nokia-phones.webp');
    background-color: rgb(33, 58, 97);
    background-repeat: no-repeat;
    background-size: 2500px auto;
    background-position: center -450px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

.vibora{
    /* background-color: rgb(24, 24, 24); */
    background-image: url('./vibora.webp');
    filter: hue-rotate(-30deg) contrast(25%) brightness(40%);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.bolitas{
    background-image: url('./comida.webp');
    filter: hue-rotate(-30deg) contrast(25%) brightness(40%);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: orange; */
}

.HUD{
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.HUD-Puntos{
    display: flex;
    flex-direction: row;
    height: 2em;
    justify-content: center;
    align-items: center;
}

input[type="number"]{
    height: 1.5em;
    width: 20%;
    /* margin-left: 20px; */
    background-color: rgb(12, 49, 63);
    -moz-appearance: textfield;
    border-radius: 5px;
    border: none;
    color: aliceblue;
}

.message-container{
    box-shadow: rgba(0, 0, 0, 0.596) 0px 0px 50px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    position:fixed;
    justify-content: center;
    align-items: center;
}

.message-div{
    margin-bottom: 150px;
    width: 400px;
    height: 300px;
    /* background-color: rgb(141, 188, 132); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cuadritos-form{
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-play{
    font-family: var(--primary-font);
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px 30px 15px 30px;
    /* border-radius: 10px; */
    background-color: rgba(64, 81, 65, 0.779);
}

.btn-play:hover{
    color: #a7daba;
    background-color: rgb(52, 66, 45);
}

.grid-pos{
    max-width: 2em;
    padding: 5px;
    font-size: 32px
}

.hidden{
    display: none;
}