@font-face {
    font-family: "Nokia CellPhone"; /* Choose a descriptive name for your font */
    src: url("./fonts/nokiafc22.ttf") format("truetype"); /* Path to your .ttf file */
}

:root {
    --primary-font: "Nokia CellPhone";
}

body{
    /* background-size: 100%; */
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(33, 37, 37);
    margin: 0px;
}

p{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin-top: 175px;
    width: 470px;
    max-height: 500px;
    aspect-ratio: 1 / .80; 
    border: solid rgba(38, 58, 41, 0.73) 5px;
    filter: blur(.9px);
    border-radius: 10px;
    background-color: rgba(135, 185, 130, 0);
    gap: 0px;
    border-collapse: collapse;
}

h1{
    font-family: var(--primary-font);
}

td{
    width: 10px;
    height: 10px;
    transition: background-color 120ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    /* background-color: rgba(14, 35, 18, 0.511);s */
    /* border-radius: 3px; */
    padding: 0px;
}

.contenedor-escenario{
    background-image: url('./nokia-phones.webp');
    background-color: rgb(33, 58, 97);
    background-repeat: no-repeat;
    background-size: 2500px auto;
    background-position: center -450px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

.vibora{
    /* background-color: rgb(24, 24, 24); */
    background-image: url('./vibora.webp');
    filter: hue-rotate(-30deg) contrast(25%) brightness(40%);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.bolitas{
    background-image: url('./comida.webp');
    filter: hue-rotate(-30deg) contrast(25%) brightness(40%);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: orange; */
}

.HUD{
    position: absolute;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.HUD-Puntos{
    display: flex;
    flex-direction: row;
    height: 2em;
    justify-content: center;
    align-items: center;
}

input[type="number"]{
    height: 1.5em;
    width: 20%;
    /* margin-left: 20px; */
    background-color: rgb(12, 49, 63);
    -moz-appearance: textfield;
    border-radius: 5px;
    border: none;
    color: aliceblue;
}

.message-container{
    box-shadow: rgba(0, 0, 0, 0.596) 0px 0px 50px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    position:fixed;
    justify-content: center;
    align-items: center;
}

.message-div{
    margin-bottom: 150px;
    width: 400px;
    height: 300px;
    /* background-color: rgb(141, 188, 132); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cuadritos-form{
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-play{
    font-family: var(--primary-font);
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px 30px 15px 30px;
    /* border-radius: 10px; */
    background-color: rgba(64, 81, 65, 0.779);
}

.btn-play:hover{
    color: #a7daba;
    background-color: rgb(52, 66, 45);
}

.grid-pos{
    max-width: 2em;
    padding: 5px;
    font-size: 32px
}

.hidden{
    display: none;
}

.joystick{
    display: none;
}

/* Small devices (phones, up to 600px) */
@media (max-width: 600px) {
    .contenedor-escenario{
        background-image: url('./nokia-phones.webp');
        background-color: rgb(33, 58, 97);
        background-repeat: no-repeat;
        background-size: 1600px auto;
        background-position: center -300px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start;
    }
    table{
        margin-top: -140px;
        width: 300px;
        max-height: 500px;
        aspect-ratio: 1 / .80;
        border: solid rgba(38, 58, 41, 0.73) 5px;
        filter: blur(0.3px);
        border-radius: 10px;
        background-color: rgba(135, 185, 130, 0);
        gap: 0px;
        border-collapse: collapse;
    }
    
    h1{
        font-size: 3em;
        margin-top: -50px;
        font-family: var(--primary-font);
    }
    .vibora{
        /* background-color: rgb(24, 24, 24); */
        background-image: url('./vibora.webp');
        filter: hue-rotate(-30deg) contrast(25%) brightness(40%);
        background-repeat: no-repeat;
        background-size: contain;
    }
    td{
        /* width: 18px; */
        /* height: 18px; */
        transition: background-color 120ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        /* background-color: rgba(14, 35, 18, 0.511);s */
        /* border-radius: 3px; */
        padding: 0px;
    }

    .joystick{
        /* transition: all 100ms cubic-bezier(0.755, 0.05, 0.855, 0.06); */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .back{
        background: #000000;
        background: linear-gradient(0deg,rgba(0, 0, 0, 0.577) 75%, rgba(0, 0, 0, 0) 100%);
    }

    .cont{
        justify-content: center;
        align-items: center;
        bottom: 0px;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 50vh;
    }
    
    .joystick.cont.pic{
        /* z-index: 5; */
        background-color: rgba(255, 255, 255, 0);
        background-position: center;
        background-repeat: no-repeat;
        overflow: visible;
        background-size: 300px;
        background-image: url('./cruceta.webp');
    }

    .up{
        background-image: url('./cruceta.webp');
    }
    .left{
        /* background-image: url('./cruceta.webp'); */
        transform: rotate(-90deg);
    }
    .right{
        background-image: url('./cruceta.webp');
        transform: rotate(90deg);
    }
    .down{
        background-image: url('./cruceta.webp');
        transform: rotate(180deg);
    }

    #up-joystick{
        position: absolute;
        display: block;
        width: 130px;
        height: 50%;
    }
    #left-joystick{
        /* position: absolute; */
        display: block;
        width: 40%;
        height: 100%;
    }
    #right-joystick{
        /* position: absolute; */
        display: block;
        width: 40%;
        height: 100%;
    }
    #down-joystick{
        margin-top: -15%;
        position: absolute;
        display: block;
        width: 130px;
        height: 50%;
    }

}

/* Medium devices (tablets, 601px–900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .contenedor-escenario{
        background-image: url('./nokia-phones.webp');
        background-color: rgb(33, 58, 97);
        background-repeat: no-repeat;
        background-size: 3000px auto;
        background-position: center -650px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:start;
    }
    table{
        margin-top: 100px;
        width: 550px;
        max-height: 500px;
        aspect-ratio: 1 / .80; 
        border: solid rgba(38, 58, 41, 0.73) 5px;
        filter: blur(.9px);
        border-radius: 10px;
        background-color: rgba(135, 185, 130, 0);
        gap: 0px;
        border-collapse: collapse;
    }
    
    h1{
        margin-top: -30px;
        font-family: var(--primary-font);
    }

}

/* Large devices (laptops, 901px–1200px) */
@media (min-width: 901px) and (max-width: 1200px) {



}

/* Extra large devices (desktops, 1201px and up) */
@media (min-width: 1201px) {
}